{% extends 'base.html' %}

{% block content %}
<div class="formaddcontact">
    <form action="/update/{{ contact.id }}" method="POST">
        {% csrf_token %}
        <div class="rows">
            <label>Name</label>
        </div>
        
        <div class="rows">
            <input type="text"  class="textitem" name="Name" value="{{ contact.Name }}" id="Name">
        </div>
        
        <div class="rows">
            <label>Contact</label>
        </div>
        
        <div class="rows">
            <input type="text"  class="textitem" name="PhnNo" value="{{ contact.PhnNo }}" id="PhnNo" pattern="[0-9]{10}" placeholder="0123456789">
        </div>
        
        <div class="rows">
            <input type="submit" value="UPDATE" class="submitbtn validatebtn">
        </div>
        <div class="rows">
            <a href="{% url 'contactlist' %}" class="submitbtn linkbutton">Contact List</a>
        </div>
        
    </form>
</div>

{% endblock %}